<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	<connectionStrings>
		<!--<add name="dbConn" connectionString="Server=94.73.170.2;Database=u9242806_matavm;User ID=u9242806_avmuse; Password=LYyi74C6HTat05P;" providerName="System.Data.SqlClient"/>-->
		<add name="dbConn" connectionString="Server=94.73.150.5;Database=u9012002_Vema;User ID=u9012002_user68C; Password=UKxu70Y4DHep78B;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>